/* font*/
.text{
    font-size;20px;
    padding-left: 20px;}

/* Nayagation bar */
.navbar {
  overflow: hidden;
  background-color: lightslategray;
}
.navbar a {
  float: left;
  display: block;
  color: #F0FFFF;
  text-align: center;
  padding: 20px;
  text-decoration: none;
} /*Used to edit body only */
body {
    background-color: #ddeeee ;
    color:black;
    font-family:sans-serif ;
    font-size: 15px; 
    line-height:1.25;}